body{
<<<<<<< HEAD
    text-align: center;
    color:blue  ;
    font-family: 'Gill Sans';
    font-size: xx-large;
        }
=======
text-align: center;
color: red  ;
font-family: 'Gill Sans';
font-size: large;
    }
>>>>>>> cabecera
